---
layout: page
title: "A Propos"
description: "En savoir un peu plus"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- French Version -->
<div class="fr post-container">
    {% capture about_fr %}{% include apropos/fr.md %}{% endcapture %}
    {{ about_fr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include apropos/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>
